
<h1 class="clear">WTF</h1>

<a href="http://www.storeybored.org">StoryBored</a> is loosely based on a pen-and-paper game 
known as "Draw and Interpret" or alternately "Telephone Pictionary."<br /> 
<br>

Developed in 2007 by Bennett Williamson and Jamie Wilkinson. <br />
Game Design by Bennett - <a href="http://www.codeblooded.net"> codeblooded.net</a><br />
Built by Jamie - <a href="http://jamiedubs.com">jamiedubs.com</a> & <a href="http://internetfamo.us">internetfamo.us</a><br />

<br />
Written in <a href="http://www.ruby-lang.org/en/">Ruby</a> with <a href="http://merbivore.com/">Merb</a><br />
Source Code and Documentation &rarr; <a href="http://tramchase.com/projects/storyboard">here</a><br />
