<h1>HOW-TO PLAY</h1>

<p>
StoryBored works like a chain letter. Each player is shown the last object in the chain, 
adds an image or caption that matches it, and then passes it on. 
During each game, there are many chains going around at once. 
After the last turn, all the images and text in the completed chains are displayed at a unique URL - 
so you can always come back to see your StoryBored, or send it on to a friend. All you need is an email address. 


<p>Still don't understand?</p>

<ol>
	<li>Turn on the Internet.</li>
	<li>Start a new game.</li>
	<li>Enter the emails of people you want to play with. The game works best with at least 4 players.</li>
	<li>Pick the number of turns you want the game to last for. </li>
	<li>Hit start and wait for the emails to roll in.</li>
	<li>Follow the links, and enter in text or an image URL as prompted. (Ctrl+click on an image and select "Copy Image Location" to get it's URL.) </li>
	<li>Once all the turns are over, the images and text are displayed on the site. Commence lols</li>
	<li>Play again!</li>
</ol>