<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>StoryBoard</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8">
  	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
  </head>
  <body>
		<div id="container">
		  <div id="header">
				<h1><a href="/">StoryBoard</a></h1>
		    <h2>top secret, snitchez</h2>
		    <hr />
				
				<div id="loading"></div>
				<div id="flash">
					<!-- <div class="error"><%#= flash[:error] unless flash[:error].empty? %></div> -->
					<!-- <div class="notice"><%#= flash[:notice] unless flash[:notice].empty? %></div> -->
				</div>
		  </div>
		
			<div id="nav">
				<ul>

					<li><a id="start-game-link" href="/games/new">start game</a></li>
					<li><a id="how-to-play-link" href="/howto">how to play</a></li>
					<li><a id="about-link" href="/about">about</a></li>
				</ul>
			</div>
			
		

			
			<div id="main">
		    <%= catch_content :for_layout %>
			</div>

			
			
			<div id="footer">

				<div class="left badges">
				<a href="http://fffff.at">
					<img src="http://fffff.at/images/copyleft_drips_sm.jpg" height="80" class="left" />
					<!-- <img src=" http://nm.merz-akademie.de/~alexander.schlegel/pixeledit/bilder/0000007726.png" /><br /> -->
				</a>
				</div>

				<div class="left description">
					<br />
					StoryBored is a <a href="http://fffff.at ">FAT Lab</a> production.<br />
					Copyfree &real; 2007-<%= Time.now.year %> - <%= link_to 'source code', 'http://github.com/jamiew/storyboad' %>
				</div>
			</div>

		</div> <!-- /#container --> 
		
		
		<!-- stats -->
		<% if Merb.env == 'production' -%>
		<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
		</script>
		<script type="text/javascript">
		_uacct = "UA-96220-11";
		urchinTracker();
		</script>
		<% else -%>
		<!-- not production, no stats outputted -->
		<% end -%>
  </body>
</html>
